.pt-10 {
  padding-top: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.pb-25 {
  padding-bottom: 25px;
}
.font-16 {
  font-size: $font-size-large;
}
.font-18 {
  font-size: 18px;
}
.img-shadow {
  box-shadow: $carousel-image-shadow;
}
.cart-img-shadow {
  box-shadow: 0 5px 27px 3px rgba(14, 26, 52, 0.3);
}
.line-heaght-40 {
  line-height: 40px;
}
.max-240 {
  max-width: 240px;
}
.width-240 {
  width: 240px;
}
.line-height-2 {
  line-height: 2;
}
.mt-10 {
  margin-top: 10px;
}

@each $size in (5, 10, 15, 20, 35, 55, 240) {
  .mr-#{$size} {
    margin-right: #{$size}px !important;
  }
}
@each $size in (10, 70) {
  .ml-#{$size} {
    margin-left: #{$size}px !important;
  }
}
@each $size in (0, 5, 10, 15, 20, 25, 30, 35, 40, 60, 80, 120) {
  .mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }
}

img {
  max-width: 100%;
}
.general-container-xs {
  padding-right: 10px;
  padding-left: 10px;
}
.general-img-wrap {
  max-width: 175px;
  padding-top: 70px;
  margin: 0 auto 70px;
}
.general-align {
  text-align: center;
}
.general-thumb-wrap {
  max-width: 270px;
  margin: 0 auto;
}
.general-thumbnail {
  padding: 27% 19%;
}
.general-thumb-link-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.general-nav-mail {
  font-size: $font-size-small;
  color: $gold-500;
  text-align: center;
  margin-bottom: 15px;
}
.general-nav-number {
  font-size: $font-size-small;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.general-badge {
  position: absolute;
  top: -4px;
  left: 100%;
}
.general-title-margin {
  margin-top: 0;
  margin-bottom: 35px;
}
.general-thumb-info {
  margin-bottom: 35px;
}
.general-info-wrap {
  padding-top: 20px;
}
.general-back-link {
  font-size: $font-size-base;
  color: $grey-600;
  display: inline-block;
  margin-bottom: 30px;
  &:hover,
  &:focus {
    color: $grey-600;
  }
}
.general-position {
  margin-top: 10px;
  margin-bottom: 30px;
}
.general-img-wrap-table {
  max-width: 140px;
  margin: 0 auto 25px;
}
.general-cart-item {
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.general-cart-close {
  font-size: 28px;
  transform: translateY(-50%);
}
.general-summary-table {
  width: 100%;
  max-width: 200px;
  text-align: left;
  margin: 0 auto 30px;
}
.general-text-align {
  text-align: center;
}
.general-order-wrap {
  padding-top: 15px;
  margin-bottom: 60px;
}
.general-input-group {
  margin-bottom: 35px;
}
.general-subtitle {
  color: $gold-500;
  font-weight: 400;
}
.general-info-text {
  font-size: $font-size-base;
  color: $grey-600;
  font-weight: 300;
}

@media (min-width: $grid-float-breakpoint) {
  .general-caption {
    padding-top: 20px;
    padding-left: 20px;
  }
  .general-align {
    text-align: left;
  }
  .general-nav-mail,
  .general-nav-number {
    text-align: left;
  }
  .item {
    margin-bottom: 30px;
  }
  .caption {
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .general-title-margin {
    margin-bottom: 50px;
  }
  .general-thumb-info {
    margin-bottom: 45px;
  }
  .general-position {
    margin-top: 15px;
  }
  .general-img-wrap-table {
    max-width: 80px;
    margin-right: 0;
    margin-left: 0;
  }
  .general-cart-close {
    transform: unset;
  }
  .general-summary-table {
    margin-left: 0;
  }
  .general-order-wrap {
    margin-bottom: 35px;
    border-bottom: 1px solid $grey-200;
  }
  .general-input-group {
    margin-bottom: 10px;
  }
  .general-text-align {
    text-align: left;
  }
  .mb-res-50 {
    margin-bottom: 50px;
  }
  .mt-res-0 {
    margin-top: 0;
  }
  .res-mr-200 {
    margin-right: 200px;
  }
  .res-mb-100 {
    margin-bottom: 100px;
  }
  .res-block {
    display: block;
  }
}

@media (min-width: $screen-md-min) {
  .general-img-wrap {
    max-width: 250px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .general-caption {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 85px;
  }
}
