// Load variables

@import "variables";

//=== Helpers
.font-16 {
  font-size: 16px;
}

.navbar-default {
  box-shadow: 0 5px 18px 2px rgba(1, 1, 1, 0.1);
}
.navbar-brand {
  font-size: $font-size-base;
}
.navbar-toggle {
  margin-left: 15px;
  .icon-bar:nth-child(3) {
    width: 17px;
  }
}
.navbar-nav .open .dropdown-menu > li > a {
  padding-left: 30px;
}
.carousel {
  margin-left: -15px;
  margin-right: -15px;
  background-color: $grey-200;
}
.carousel-control {
  background-image: unset !important;
  .icon-prev {
    left: 25%;
  }
  .icon-next {
    right: 25%;
  }
}
.lead {
  color: $grey-600;
  word-break: break-word;
}
.small {
  font-size: $font-size-base;
}
.btn {
  max-width: 100%;
  font-size: $font-size-small;
  padding-left: 35px;
  padding-right: 35px;
  white-space: unset;
  &:active,
  .active {
    box-shadow: none;
  }
}
.btn-primary,
.btn-default {
  &.disabled,
  &[disabled] {
    background-color: $btn-link-disabled-color;
  }
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:hover,
  &.hover {
    opacity: 0.6;
  }
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
  background-color: $grey-600;
  margin-right: 4px;
  margin-left: 4px;
  &.active {
    width: 6px;
    height: 6px;
    margin: 1px 4px;
  }
}
.item {
  padding: 15px 12px 0;
}
.jumbotron p {
  color: $grey-600;
}
.thumbnail {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail:hover,
.thumbnail:focus,
.thumbnail.active {
  border-color: transparent;
  .thumb-hover {
    opacity: 1;
  }
}
.thumbnail.disabled,
.thumbnail[disabled] {
  opacity: 0.6;
  .thumb-hover {
    display: none;
  }
}
.navbar-inverse {
  padding-top: 30px;
  padding-bottom: 20px;
}

.shop-icon {
  min-width: 22px;
  min-height: 27px;
  color: $shop-icon-bg;
  display: inline-block;
  background-color: $shop-icon-bg;
  border: 2px solid currentColor;
  position: relative;
  padding: 2px 7px;
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:empty {
    background-color: transparent;
  }
}
.shop-quantity {
  font-size: $font-size-small;
  color: white;
}
.thumb-hover {
  background-color: $thumbnail-hover-bg;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: $thumbnail-hover-transition;
}
.thumb-hover-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid rgba($grey-200, 0.4);
  // position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  &:hover {
    background-color: $grey-200;
    .thumb-icon {
      color: $gold-500;
    }
  }
}
.thumb-icon {
  font-size: 16px;
  color: white;
  line-height: 36px;
}
.shop-link {
  display: inline-block;
  padding-top: 8px;
  margin: 23px 15px;
  position: relative;
}
.title {
  font-size: $font-size-large;
  word-break: break-word;
}
.divider-custom {
  width: 30px;
  height: 2px;
  display: inline-block;
  background-color: $grey-900;
  margin-bottom: 10px;
}
.nav-link {
  font-size: $font-size-small;
  color: $grey-600;
  &:hover {
    color: $gold-500;
  }
  &:first-child {
    padding-left: 0;
  }
}
.filter-item {
  margin-right: 35px;
}
.filter-link {
  font-size: $font-size-base;
  color: $grey-600;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    color: $grey-900;
    text-decoration: none;
  }
}
.img-large {
  margin-bottom: 20px;
}
.images a {
  max-width: 86px;
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 10px;
}
.input-link {
  font-size: $font-size-base;
  color: $grey-350;
  display: inline-block;
  float: left;
}
.quantity-input {
  max-width: 40px;
  float: left;
  margin-left: 12px;
  margin-right: 12px;
}


@media (min-width: $grid-float-breakpoint) {
  .navbar-nav {
    float: right;
  }
  h1,
  .h1 {
    font-size: $font-size-h1-large;
  }
  .shop-link {
    margin-right: 0;
  }
  .navbar-nav .open .dropdown-menu {
    box-shadow: 0 5px 18px 2px rgba(1, 1, 1, 0.03);
  }
  .item {
    padding-left: 35px;
    padding-right: 35px;
  }
  .carousel {
    margin-left: 0;
    margin-right: 0;
  }
  .carousel-indicators {
    width: 7%;
    left: 90%;
    margin-left: 0;
  }
  .carousel-control {
    .icon-prev {
      left: 15%;
    }
    .icon-next {
      right: 15%;
    }
  }
}
